
    <div class="intro base">
      <div class="row">
       <section class="mission">
        <br>
        <div class="small-10 small-offset-1 columns text-center shadow1 rad divider">
          <br>
          <h1>
            Our Mission
          </h1>
                      <img class="center-block" src="/images/Skillsesh_Five.png" style="height: 150px; width: auto;"/>

        
      
    
    <div class="mission-content">
      <div class="row">
       
          <div class="small-12 columns text-left">
            
          <h3>
            Our mission is to harness the untapped talents of your local community, making it possible to learn anything from anyone at anytime.
            </h3>
          <p>
            Other teaching sites are ivory towers with high barriers to entry. Students have to commit to expensive, time-consuming courses, and only the select, credentialed few are allowed to teach. SkillSesh democratizes the learning process, allowing you to acquire new skills from the members of your own community.
          </p>
          <br>
          </div> 
        
      </div>
    </div>
    
    </div>  
    </section>      
    </div>  
    </div>    
  <br><br>
  <section class="team">
    <div class="row">
      <div class="small-10 small-offset-1 columns text-center shadow1 rad divider">
        <br>
        <h1>
          Your team
        </h1>
  
      <div class="small-12 medium-4 columns team-member">
        <div class="row">
          <div class="small-12 columns">
            <%= link_to "https://www.linkedin.com/pub/john-connor/36/358/8b4/", :target => "_blank" do %>
              <%= image_tag '/images/jhead.png', size: '220x220', :class => "center-block" %>
            <% end %>
            <h3 class="text-center">
              John
            </h3>
            <p class="lead text-center">
              Markets
            </p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns team-member">
        <div class="row">
          <div class="small-12 columns">
             <%= link_to "https://www.linkedin.com/pub/beno%C3%AEt-barberousse/8a/aab/616", :target => "_blank" do %>
              <%= image_tag '/images/bhead.png', size: '220x220', :class => "center-block" %>
            <% end %>
            <h3 class="text-center">
              Benoit
            </h3>
            <p class="lead text-center">
              Tech
            </p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns team-member">
        <div class="row">
         
            <div class="small-12 columns">
             <%= link_to "https://www.linkedin.com/pub/brandon-gordon/99/64a/497", :target => "_blank" do %>
              <%= image_tag '/images/Brandonpic.png', size: '220x220', :class => "center-block" %>
            <% end %>
            <h3 class="text-center">
              Brandon
            </h3>
            <p class="lead text-center">
              Narrative
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>