<div id="accordion" class="panel-group">
  <% if @user && @profile.id == @user.id %>
    <button class="btn btn-success btn-md add-btn" type="button">
      <span class="glyphicon glyphicon-plus"></span> Add a new session
    </button>
    <div class="panel panel-default" id="course-new">
      <%= bootstrap_form_for Course.new do |f| %>
        <div class="panel-heading">
          <%= f.text_field :name, inputmode: "latin-prose", placeholder: "What's the name of your session?", :maxlength => "150", :required => true %>
          <%= f.text_area :goal, inputmode: "latin-prose", placeholder: "What will your student accomplish by the end of the session?", :required => true %>
        </div>
        <div class="panel-body">
          <%= f.text_area :how, inputmode: "latin-prose", placeholder: "What're are you going to do?", :required => true %>
          <%= f.text_area :requirements, inputmode: "latin-prose", placeholder: "Are there any prerequisites?" %>
          <%= f.number_field :duration, :append => "hour(s)", :minimum => "0.5", :step => "0.5", :value => "1.00", :required => true %>
          <%= f.number_field :price, prepend: "$", append: '.00', placeholder: "So, how much?", :min => "10", :value => 10, :required => true %>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary btn-md cancel-btn" type="button">Cancel</button>
          <%= f.submit :class => "btn btn-danger btn-md", :value => "Create" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% @profile.courses.each do |course| %>
    <div class="panel panel-default" id="course-<%= course.id %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          <% if @profile.user == @user %>
            <%= editable course, :name, {:url => "/courses/#{course.id}", :title => "Edit the name of your course", :data => {:pk => course.id}, :class => "h3 editable-record"} %>
          <% else %>
            <%= course.name %>
          <% end %>
        </h3>
        <h4>
          Goal
        </h4>
        <% if @profile.user == @user %>
          <%= editable course, :goal, {:url => "/courses/#{course.id}", :tag => 'p', :class => "course-goal", :data => {:pk => course.id}, :title => "Edit the how", :type => "textarea", :class => "editable-record"} %>
        <% else %>
          <%= course.goal %>
        <% end %>
      </div>
      <div id="collapse-<%= course.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>
            How
          </h4>
          <% if @profile.user == @user %>
            <%= editable course, :how, {:url => "/courses/#{course.id}", :tag => 'p', :title => "Edit the how", :data => {:pk => course.id}, :type => "textarea", :class => "editable-record"} %>
          <% else %>
            <%= course.how %>
          <% end %>
          <h4>
            Requirements
          </h4>
          <% if @profile.user == @user %>
            <%= editable course, :requirements, {:url => "/courses/#{course.id}", :tag => 'p', :title => "Edit the requirements", :data => {:pk => course.id}, :type => "textarea", :class => "editable-record"} %>
          <% else %>
            <%= course.requirements %>
          <% end %>
          <h4>
            Duration
          </h4>
          <% if @profile.user == @user %>
            <%= editable course, :duration, {:url => "/courses/#{course.id}", :title => "Tell em how long", :data => {:pk => course.id}, :type => "number", :class => "editable-record"} %>
          <% else %>
            <%= course.duration %> 
          <% end %>
          <h4>
            Price
          </h4>
          <% if @profile.user == @user %>
            <%= editable course, :price, {:url => "/courses/#{course.id}", :title => "Tell em how much", :data => {:pk => course.id}, :type => "number", :class => "editable-record"} %>
          <% else %>
            <%= course.price %>
          <% end %>
        </div>        
      </div>
      <div class="panel-footer">
        <button type="button" class="btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= course.id %>">See more</button>
        <button type="button" class="btn-sm btn-info" data-toggle="modal" data-target="#modal-ask-question-<%= course.id %>" href="#">Question?</button>
        <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#modal-set-appointment-<%= course.id %>" href="#">Book it!</button>
      </div>
    </div>
    <%= render :partial => 'profiles/profile_question', :locals => {course: course} if @profile.user != @user && @user %>
  <% end %>
</div>