<div class="modal fade" id="modal-ask-question-<%= course.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          Ask <%= @profile.first_name %> a question about <em><%= course.name %></em>
        </h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Conversation.new, url: conversations_path, remote: true do |f| %>
          <%= f.hidden_field :customer, :value => @user %>
          <%= f.hidden_field :merchant, :value => @profile %>
          <%= f.hidden_field :course, :value => course %>
          <%= f.fields_for :message, Message.new do |m| %>
            <%= m.hidden_field :sender, :value => @user %>
            <%= m.hidden_field :receiver, :value => @profile.user %> 
            <%= m.text_area :content, :hide_label => true, :placeholder => "Don't be shy!", :style => "resize: vertical" %>
          <% end %>
          <%= f.submit "Send!" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
