<div class="container base">
  <div class="row">
    <div class="small-12 small-offset-0 medium-6 columns text-center"><br>
   <div class=" small-12 columns divider rad">
     
    <div class="small-12 columns">
          <%= render :partial => 'profiles/profile_name' %>
      </div> 
      <div class="small-8 small-offset-2 columns profile-photo highlightit">
          <%= render :partial => 'profiles/profile_photo' %>
        <br>
        <button class="btn-info small">Message</button>
        </div>
        </div>
        <div class="small-12 columns tutor-profile2 profpad">
                    
    
          <%= render :partial => 'profiles/profile_skills' %>
        
        </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 tutor-profile2">
          <%= render :partial => 'profiles/profile_bio' %>
        </div>
        <div class="small-12">
          <% if @user && @user.id == @profile.id %>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#courses" role="tab" data-toggle="tab">
                Sessions
              </a>
            </li>
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="courses">
              <%= render :partial => 'profiles/profile_courses' %>
            </div>
            
          </div>
        <% else %>
          <h2>
            Sessions
          </h2>
          <%= render :partial => 'profiles/profile_courses' %>
        <% end %>
      </div>
    </div>
  </div>
</div> 
</div>