<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-0 col-sm-5 text-center"><br>
   <div class=" col-xs-12 shadow1 rad">
     
    <div class="col-xs-12">
          <%= render :partial => 'profiles/profile_name' %>
      </div> 
      <div class="col-xs-8 col-xs-offset-2 profile-photo">
          <%= render :partial => 'profiles/profile_photo' %>
        </div>
        </div>
        <div class="col-xs-12 tutor-profile2 profpad">
                    
    
          <%= render :partial => 'profiles/profile_skills' %>
        
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-6">
      <div class="row">
        <div class="col-xs-11 tutor-profile2 biopad">
          <%= render :partial => 'profiles/profile_bio' %>
        </div>
        <div class="col-xs-12">
          <% if @user && @user.id == @profile.user.id %>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#courses" role="tab" data-toggle="tab">
                Sessions
              </a>
            </li>
            <li>
              <a href="#messages" role="tab" data-toggle="tab">
                Messages
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="courses">
              <%= render :partial => 'profiles/profile_courses' %>
            </div>
            <div class="tab-pane fade" id="messages">
              <%= render :partial => 'profiles/profile_messages' %>
            </div>
          </div>
        <% else %>
          <h3>
            Sessions
          </h3>
          <%= render :partial => 'profiles/profile_courses' %>
        <% end %>
      </div>
    </div>
  </div>
</div> 
</div>