<div class="container">
  <div class="row"><br>
    <div class="col-xs-12 text-center divider rad">
      <h1>
         <br>
 Great profile, <%= @profile.first_name %>.
       <br> <img class="img-responsive center-block" src="/images/Skillsesh_Five.png" style="height: 150px; width: auto;"/>
 Let's take a second to create your first skill session!
        <br><br>
      </h1>
    </div>
  </div> <!-- END of row -->
  <div class="row">
<br>
    <div class="col-xs-12 col-md-5 col-md-offset-1 text-center divider rad">
      <div class="row">      
        <%= bootstrap_form_for Course.new do |f| %>
          <div class="col-xs-12">   
            <%= f.text_field :name, inputmode: "latin-prose", placeholder: "What's the name of your session?", :maxlength => "150" %>
            <br>
          </div>
          <div class="col-xs-12">
            <%= f.text_area :goal, inputmode: "latin-prose", placeholder: "What will your student accomplish by the end of the session?" %>
            <br>
          </div>
          <div class="col-xs-12">
            <%= f.text_area :how, inputmode: "latin-prose", placeholder: "What're are you going to do?" %>
            <br>
          </div>
          <div class="col-xs-12">
            <%= f.number_field :price, prepend: "$", placeholder: "So, how much?", :min => "10", :value => 10 %>
            <br>
          </div>
          <div class="col-xs-12">
            <%= f.number_field :duration, :minimum => "0.5", :step => "0.5", :value => "1.00" %>
            <br>
          </div>
          
          <div class="col-xs-12">
            <%= f.submit class: "btn btn-large btn-info" %>
            <br>
            <br> 
          </div>
        <% end %>
      </div>
<br>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1 text-center divider rad">
      <div class="row">      
       
          <div class="col-xs-12">   
            <div class=" control-label">
              A few examples:
            </div>
<div class="text-left" style="font-size: 150%">
1. Introduction to Wordpress <br>       
2. Guitar Chords for Beginners<br> 
 
            </div>
            <br>
          </div>
          <div class="col-xs-12">
            <div class="text-left" style="font-size: 150%">
<div class="text-center">Goal:</div>
1. You will be able to build a custom blog/website. <br>       
2. You will understand how guitar chords affect sound. <br>
             
            </div>
            <br>
          </div>
          <div class="col-xs-12">
            <div class="text-left" style="font-size: 150%">
<div class="text-center">How:</div>             
1. We will cover why wordpress is the most popular way to make powerful sites and every step involved in setting up the basics. <br>       
2. Words are combined with other words to create sentences, and likewise, chords are combined with other chords to make progressions. We will go over why that is.
            </div>
            <br>
          </div>
          <div class="col-xs-12">
            <div class="text-left" style="font-size: 150%">
              <div class="text-center">Price:</div>
1. Introduction to Wordpress <br>       
2. Guitar for Beginners
            </div>
            <br>
          </div>
          <div class="col-xs-12">
            
            <br>
          </div>
          <div class="col-xs-12">
          
          <br> 
           
            <br>
          </div>
          <div class="col-xs-12">
            
            <br>
            <br> 
          </div>
       
      </div>
    </div>
    </div>
  </div> <!-- END of row -->
</div>