<%# OPTIMIZE Refactor all views into partials, organized by application and domain. %>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <div class="jumbotron text-center col-xs-12 col-xs-offset-0">
    <div class="container-fluid">
      <header>
        <div class="row">
          <div class="col-xs-12">
             <br>
            <h2 class="hero-action text-center" style="font-size: 300%">Learn
            Skills From the People in Your Community!</h2><br>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="text-right btnmain">
            <button class="btn btn-lg btn-info" data-target="#basicModal1"
            data-toggle="modal" style="font-size: 175%;">Teach a Skill</button>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="dropdown text-left btnmain">
            <a href="#Learn" class="btn btn-lg btn-primary" style="font-size: 175%;">Learn a Skill</a>
          </div><br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center col-xs-12 col-xs-offset-0">
    
      <div class="container">
        <section class="tutors">
          <div class="intro"></div>

          <div class="tutors-listing">
            <div class="row">
              <% @profiles.each do |profile| %>

              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="row tutor-unit">
                  <div class=
                  "col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 highlightit">
                  <%= link_to user_path(profile.user) do %><%= image_tag profile.photo, :class => 'img-responsive img-circle tutor-photo' %><% end %>
                  </div>

                  <div class="col-xs-12 try-up">
                    <h4 class="tutor-name text-center">
                    <%= profile.first_name %></h4><strong class=
                    "tutor-skills"><% profile.skills.each do |skill| %>
                    <span class=
                    "label label-info label-inert"><%= skill.name %></span>
                    <% end %></strong>
                  </div>
                </div>
              </div><% end %>
            </div>
          
        </section><br> <br><br><br>
</div>
  <div class="row divider">
    
    <div class="col-xs-12 text-center bluet">
    <br>
    <a name="Learn"></a> 
    <h2 style="font-size: 300%"> It's easy to learn with SkillSesh</h2>
      <div class="col-sm-4">
        <br>
        <br>
        <img class="img-responsive center-block" src="/images/find.png" style="height: 150px; width: auto;"/>
      <h3>1. Find a tutor by typing in a skill in the search bar above.</h3>
      <br>
      </div>
      <div class="col-sm-4">
        <br>
        <br>
        <img class="img-responsive center-block" src="/images/icon_2472.png" style="height: 150px; width: auto;"/>
        <h3>2. After reading profiles, book a session via messaging.</h3>
        <br> 
      </div>
      <div class="col-sm-4">
        <br>
        <br>
        <img class="img-responsive center-block" src="/images/Skillsesh_Fiveg.png" style="height: 150px; width: auto;"/>
        <h3>3. You're on your way to improving your skills. Great Job!.</h3>
        <br><br>
      </div> 
    </div>
  </div><br><br><br>
  


</div>

      <div class="modal fade" data-focus-on="input:first" id="basicModal2"
      tabindex="-1">
        <div class="modal-content">
          <%= form_tag subscribe_path, :remote => true, :class => "subscribeForm" do %>

          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button"></button>

            <h4 class="modal-title" id="myModalLabel"></h4>

            <h1 class="text-center">Join us when we launch!</h1>
          </div>

          <div class="modal-body text-center">
            <div class="form-group">
              <%= label_tag 'email', "Enter your email address", :class => "sr-only" %><%= email_field_tag 'email', nil, :placeholder => "joe@example.com", :class => "form-control" %>
            </div><br>
            <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
          </div><% end %>
        </div>
      </div>

      <div class="modal fade" data-replace="true" id="myModal" tabindex="-1">
        <div class="modal-content">
          <div class="modal-body text-center">
            <h2 class="modal-title" id="myModalLabel">Get your friends involved
            too!</h2><br>
            <%= render '/partials/sharebutt.html' %><br>
            <br>
            <br>
          </div>
        </div>
      </div>

      <div class="modal fade" data-width="760" id="basicModal1" tabindex="-1">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button"></button>

            <h4 class="modal-title" id="myModalLabel"></h4>

            <h1 class="text-center">Sign Up With</h1>
          </div>

          <div class="modal-body text-center">
            <%= render '/partials/loginbutt.html' %><br>
            We use these services to help verify who you are. Learn more.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>