<%# OPTIMIZE Refactor all views into partials, organized by application and domain. %>
<div class="jumbotron text-center">
  <div class="container-fluid">
    <header>
      <div class="row heavy">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          
        
        <div class="col-xs-12 col-sm-4 ">
          <h1>
            Teach
          </h1>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h1>
            Learn
          </h1>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h1>
            Earn    
          </h1>
        </div>
      </div>
        <div class="row">
          <br><br/>     
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="hero-action text-center">
          Join Portland's Learning Community!
          <br><br/>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="text-right btnmain">
          <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#basicModal1">
          Teach a skill
          </button>
         
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="dropdown text-left btnmain">
          <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#basicModal2">
          Learn a skill
          </button>

            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
  <section class="tutors">
    <div class="intro">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <img class="img-responsive center-block" src="/images/SkillSesh_BrandInitial2.png" style="height: 80px"/>

          </div>
        </div>
      </div>
    </div>
    <div class="tutors-listing">
      <div class="row text-center">
        <% @profiles.each do |profile| %>
        <div class="col-xs-12 col-sm-3">
          <div class="row tutor-unit">
            <div class="col-xs-6 col-sm-12 highlightit">
              <%= link_to user_path(profile.user) do %>
                <%= image_tag profile.photo, :class => 'img-responsive img-circle tutor-photo' %>
              <% end %> </div>
              <div class="col-xs-6 col-sm-12">
                <h4 class="tutor-name">
                  <%= profile.first_name %>
                </h4>
                <p>
                  Teaches
                </p>
                <strong class="tutor-skills tutort">
                <% profile.skills.each do |skill| %>
                  <%= skill.name %>
                <% end %>
                </strong>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="mission">
    <div class="intro">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>
            The Mission
          </h1>
                      <img class="img-responsive center-block" src="/images/Skillsesh_Five.png" style="height: 150px; width: auto;"/>

        </div>
      </div>
    </div>
    <div class="mission-content">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            
          <h3>
            Our mission is to harness the untapped talents of your local community, making it possible to learn anything from anyone at anytime.
            </h3>
          <h4>
            Other teaching sites are ivory towers with high barriers to entry. Students have to commit to expensive, time-consuming courses, and only the select, credentialed few are allowed to teach. SkillSesh democratizes the learning process, allowing you to acquire new skills from the members of your own community.
          </h4>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>
          Your team
        </h2>
      </div>
      <div class="col-xs-4 highlightit team-member">
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://www.linkedin.com/pub/john-connor/36/358/8b4/", :target => "_blank" do %>
              <%= image_tag '/images/jhead.png', size: '220x220', :class => "img-responsive img-circle" %>
            <% end %>
            <h3 class="text-center">
              John
            </h3>
            <p class="lead text-center">
              Markets
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 highlightit team-member">
        <div class="row">
          <div class="col-xs-12">
             <%= link_to "https://www.linkedin.com/pub/beno%C3%AEt-barberousse/8a/aab/616", :target => "_blank" do %>
              <%= image_tag '/images/bhead.png', size: '220x220', :class => "img-responsive img-circle" %>
            <% end %>
            <h3 class="text-center">
              Benoit
            </h3>
            <p class="lead text-center">
              Tech
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 highlightit team-member">
        <div class="row">
         
            <div class="col-xs-12">
             <%= link_to "https://www.linkedin.com/pub/brandon-gordon/99/64a/497", :target => "_blank" do %>
              <%= image_tag '/images/Brandonpic.png', size: '220x220', :class => "img-responsive img-circle" %>
            <% end %>
            <h3 class="text-center">
              Brandon
            </h3>
            <p class="lead text-center">
              Narrative
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="share">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="col-xs-12 col-md-6">
          <h3>
            Follow Our Journey <br><br/>
          </h3>
          <div class="col-xs-offset-1 col-xs-3 highlightit2">
            <%= image_tag '/images/Gplus.png', size: '70x70', :href => "https://plus.google.com/108372836959462323148/posts", :target => "_blank" %>
          </div>
          <div class="col-xs-3 highlightit2">
            <%= image_tag '/images/Facebook.png', size: '70x70', :href => "https://www.facebook.com/SkillSesh", :target => "_blank" %>
          </div>
          <div class="col-xs-3 highlightit2">
            <%= image_tag '/images/Twitter.png', size: '70x70',  :href => "https://twitter.com/SkillSesh", :target => "_blank" %>
            <br><br/>
          </div>
          <div class="journey-buttons"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>
            Share With Friends <br><br/>
          </h3>
      
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://www.skillsesh.com/&title=Get+Skilled", :target => "_blank" do %> 
              <%= image_tag '/images/linkdicon.png', size: '64x64' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://www.facebook.com/sharer/sharer.php?u=http://www.skillsesh.com/", :target => "_blank" do %> 
              <%= image_tag '/images/fbsquare.png', size: '64x64' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "https://plus.google.com/share?url=http://www.skillsesh.com/", :target => "_blank" do %> 
              <%= image_tag '/images/gplussquare.png', size: '64x64' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://twitter.com/share?url=http://www.skillsesh.com/&text=Get+Skilled", :target => "_blank" do %> 
              <%= image_tag '/images/twittersquare.png', size: '64x64' %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal2" aria-hidden="true" data-focus-on="input:first">
    <div class="modal-content">
      <%= form_tag subscribe_path, :remote => true, :class => "subscribe_form" do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">
            <h1 class="text-center">Join us when we launch!</h1>
          </h4>
        </div>
        <div class="modal-body text-center">

            <div class="form-group">
              <%= label_tag 'email', "Enter your email address", :class => "sr-only" %>
              <%= email_field_tag 'email', nil, :placeholder => "joe@example.com", :class => "form-control" %>
            </div>
            <br/>
            <%= submit_tag "Submit", :data => {:toggle => "modal", :target => "#myModal"}, class: "btn btn-large btn-primary" %>
       
      </div>
      <% end %>
    </div>
</div>
    

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace ="true">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2 class="modal-title" id="myModalLabel">Get your friends involved too!</h2>
          <br>
        <%= render '/partials/sharebutt.html' %>
          <br>
          <br>
          <br>
      </div>
    </div>
</div>
            
 <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true" data-width="760">
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">
          <h1 class="text-center">Sign Up With</h1>
        </h4>
      </div>
      <div class="modal-body text-center">
        <%= render '/partials/loginbutt.html' %>
        <br>
      We use these services to help verify who you are. Learn more.
      </div>
  </div>
</div>

<%= debug session[:remember_token] if Rails.env == "development" %>