<%# OPTIMIZE Refactor all views into partials, organized by application and domain. %>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
<br>
  <div class="jumbotron text-center small-12 columns">
    <div class=" moveup">
      <header>
        <div class="row">
            <div class="small-12 small-offset-0 columns">
             <br>
                <h2 class="TextShadow text-center" style="font-size: 240%">Learn
            Skills From the People in Your Community!</h2><br>
          </div>
        </div>
      </header>

      <div class="row">
          <div class="small-12 medium-6 columns smaller">
              <div class="small-text-center medium-text-right">
                  <button class="btn-info" data-reveal-id="TeachModal" style="font-size: 130%;">Teach a Skill</button>
          </div>
        </div>
                <div class="small-12 medium-6 columns">
                    <div class="small-text-center btnmain medium-text-left">
            <a href="#Learn" class="button" style="font-size: 130%;">Learn a Skill</a>
          </div><br><br><br><br>
        </div>
      </div>
    </div>
   </div>
  </div>

<div class="container text-center small-12 small-offset-0 columns">
      
        <section class="tutors">
          <div class="intro">
          </div>
          <div class="tutors-listing">
            <div class="row">
              <% @profiles.each do |profile| %>

              <div class="small-12 medium-3 columns">
                <div class="row tutor-unit">
                  <div class="small-6 medium-8 medium-offset-2 columns highlightit">
                  <%= link_to user_path(profile) do %>
                  <%= image_tag profile.photo, :class => 'tutor-photo shadow1' %>
                  <% end %>
                  </div>

                  <div class="small-6 medium-12 columns">
                    <h4 class="tutor-name text-center">
                    <%= profile.first_name %></h4><strong class=
                    "tutor-skills"><% profile.skills.each do |skill| %>
                    <span class=
                    "label label-info label-inert"><%= skill.name %></span>
                    <% end %></strong>
                  </div>
                </div>
              </div><% end %>
        </section>
<div>
<a name="Learn"></a>
</div>
<br><br><br><br>
  <div class="row">
    
    <div class="small-12 columns text-center smaller shadow1 rad">
    <br>
    <h2 class="TextShadow" style="font-size: 250%"> It's easy to learn with SkillSesh</h2>
     <br><br>
      <div class="medium-4 columns">
        <div class="small-12 columns steps">
        <br>
        <br>
        
        <img class="img-responsive center-block" src="/images/find.png" style="height: 150px; width: auto;"/>
      <h4> Find a tutor by typing a skill in the search bar above.</h4>
      <br>
     
      </div>
      </div>
      <div class="medium-4 columns">
        <div class="small-12 columns container bluet steps">
        <br>
        <br>
        <img class="img-responsive center-block" src="/images/icon_2472.png" style="height: 150px; width: auto;"/>
        <h4> After reading profiles, book a session via messaging.</h4>
        <br>
        
      </div>
      </div>
      <div class="medium-4 columns">
        <div class="small-12 columns container steps">
        <br>
        <br>
        <img class="img-responsive center-block" src="/images/Skillsesh_Five.png" style="height: 150px; width: auto;"/>
        <h4> You're on your way to improving your skills! Great Job.</h4>
        <br>
      </div>
      </div> 
    </div>
  </div>
<br><br><br>
  <button class="btn-info" data-reveal-id="SocialShare" style="font-size: 175%;">Teach a Skill</button>

          <div id="SocialShare" class="reveal-modal text-center" data-reveal>
            <h2>Get your friends involved too!</h2><br>
            <a class="close-reveal-modal">&#215;</a>
            <%= render '/partials/sharebutt.html' %><br>
            <br>
            <br>
          </div>

      <div id="TeachModal" class="reveal-modal text-center" data-reveal>
        <h1>Sign Up With</h1>
          <div>
            <%= render '/partials/loginbutt.html' %>
            <br>
            We use these services to help verify who you are. Learn more.
          </div>
         <a class="close-reveal-modal">&#215;</a>
        </div>


<div class= "small-12 medium-3 columns">
What day and time would you like to meet up?
<input id="datetimepicker" type="text">
</div>
</div>
<%= render '/partials/reviewstars.html.erb' %>

<a class="button" data-dropdown="contentDrop" aria-controls="contentDrop" aria-expanded="true">Content Dropdown »</a>
  <div id="contentDrop" class="f-dropdown content medium" data-dropdown-content="" aria-hidden="true" tabindex="-1" style="position: absolute; left: -99999px; top: 336.765625px;">
  <h4>Title</h4>
  <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
  <img src="../assets/img/examples/comet.jpg" alt="a flying comment">
  <p>More test.</p>
  <a class="button" onclick="alert('This button can be replaced with an anchor with a role value of button if it\'s truly a hyperlink.');">Button</a>
</div>
</body>

</html>