<br>
<div class="row">
<div class="small-12 medium-10 medium-offset-1 columns shadow1 rad">
<div class="">
 <div class="user-prompt text-center">
  
        <div class="small-12 medium-6 columns">
          <h3 class="lead" style="margin-top: 30px">
            <%= @profile.first_name %>! Thanks for joining Skillsesh.
          </h3>
        
      
    
  <div class="user-onboard">
    <div class="user-photo">
    
      
        <div class="small-12 medium-8 medium-offset-2 columns highlightit">
          <%= image_tag @profile.photo, class: 'tutor-photo' %> 
          
        </div>
     </div> 
    </div>
    </div>
    <div class="user-form small-12 medium-6 columns">
      <br><br>
      <%= form_for @profile, url: update_path, html: {role: 'form'} do |f| %>
        <div class="form-group text-center" title="Search All Items">
        <h5> Why don't you tell us a little bit about yourself?</h5>
          <%= f.text_area :bio, class: 'form-control', maxlength: "500", placeholder: "500 word max, please, it's just three tweets!", inputmode: "latin-prose" %>
        </div>
        <div class="form-group text-center">
         <h5>What skills can you teach?"</h5>
          <%= f.text_field :skills, class: 'form-control', data: {role:'tagsinput'}, inputmode: "latin", value: "" %>
        </div>
        <div class="text-center">
          <%= f.submit class: 'button text-center', value: "Submit" %>
           <br> <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>  