<div class="container">
  <div class="col-xs-12">
    <h2>
      Share With Friends <br><br/>
    </h2>
    <div class="container" style="background-color: #ffffff; border: 3px solid goldenrod;">
      
    <div class="col-xs-3 highlightit2">
      <%= link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://www.skillsesh.com/&title=Get+Skilled", :target => "_blank" do %> 
      <%= image_tag '/images/linkdicon.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="col-xs-3 highlightit2">
      <%= link_to "http://www.facebook.com/sharer/sharer.php?u=http://www.skillsesh.com/", :target => "_blank" do %> 
      <%= image_tag '/images/fbsquare.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="col-xs-3 highlightit2">
      <%= link_to "https://plus.google.com/share?url=http://www.skillsesh.com/", :target => "_blank" do %> 
      <%= image_tag '/images/gplussquare.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="col-xs-3 highlightit2">
      <%= link_to "http://twitter.com/share?url=http://www.skillsesh.com/&text=Get+Skilled", :target => "_blank" do %> 
      <%= image_tag '/images/twittersquare.png', size: '64x64' %>
      <% end %>
    </div>
  </div>
     </div>
</div>
