<div >
  <div class=" small-12 medium-8 medium-offset-2 columns">  
      
    <div class="small-3 columns highlightit2">
      <%= link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://www.skillsesh.com/&title=Get+Skilled", :target => "_blank" do %> 
      <%= image_tag '/images/linkdicon.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="small-3 columns highlightit2">
      <%= link_to "http://www.facebook.com/sharer/sharer.php?u=http://www.skillsesh.com/", :target => "_blank" do %> 
      <%= image_tag '/images/fbsquare.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="small-3 columns highlightit2">
      <%= link_to "https://plus.google.com/share?url=http://www.skillsesh.com/", :target => "_blank" do %> 
      <%= image_tag '/images/gplussquare.png', size: '64x64' %>
      <% end %>
    </div>
    <div class="small-3 columns highlightit2">
      <%= link_to "http://twitter.com/share?url=http://www.skillsesh.com/&text=Get+Skilled", :target => "_blank" do %> 
      <%= image_tag '/images/twittersquare.png', size: '64x64' %>
      <% end %>
    </div>
  </div>
     </div>
</div>
