.jumbotron
  .container-fluid
    %header
      %h1
        Teach.
      %h1
        Learn.
      %h1
        Get paid.
    %h3.hero-action
      Join Portland's local learning community
    .dropdown
      %button.btn.btn-block{:data => { :toggle => "dropdown" } }
        Teach a skill
      %ul.dropdown-menu.text-center{ :role => "menu" }
        %h5 Sign up with:
        %li
          %a{ :href => "/auth/facebook" }
            %button.btn.btn-block
              Facebook
        %li
          %a{ :href => "/auth/linkedin" }
            %button.btn.btn-block
              LinkedIn
        %li
          %a{ :href => "/auth/google" }
            %button.btn.btn-block
              Google
    .dropdown
      %button.btn.btn-block{:data => { :toggle => "dropdown" } }
        Learn a skill
      %ul.dropdown-menu.text-center{ :role => "menu" }
        %h5 Be the first to know when we launch
        = form_tag '/emails/create', remote: true do
          .form-group
            = email_field_tag :placeholder => "joe@example.com", :class => "form-control"
.container
  %section.tutors
    .intro
      .row
        .col-xs-12
          %h2
            Meet your tutors
    .tutors-listing
      .row
        - @users.each do |tutor|
          .col-xs-12
            .row
              .col-xs-offset-2.col-xs-8
                = image_tag tutor.photo.url, :class => 'img-responsive img-circle tutor-photo'
              .col-xs-12.text-center
                %h4.tutor-name
                  = tutor.first_name
              .col-xs-12.text-center
                %p
                  teaches
              .col-xs-12.text-center
                %strong.tutor-skills
                  = tutor.teachables

  %section.mission
    .intro
      .row
        .col-xs-12
          %h2
            Our mission
    .mission-content
      .row
        .col-xs-12
          %p
            Our mission is to harness the untapped talents of your local community, making it possible to learn anything from anyone at anytime.
          %p
            Other teaching sites are ivory towers with high barriers to entry. Students have to commit to expensive, time-consuming courses, and only the select, credentialed few are allowed to teach. SkillSesh democratizes the learning process, allowing you to acquire new skills from the members of your own community.
  %section.team
    .intro
      .row
        .col-xs-12
          %h2
            Your team
    .row.text-center
      .col-xs-12
        .row
          .col-xs-offset-2.col-xs-8
            = image_tag 'http://api.randomuser.me/portraits/men/1.jpg', :class => "img-responsive img-circle"
          .col-xs-12
            %h3
              John
            %p.lead
              Markets
      .col-xs-12
        .row
          .col-xs-offset-2.col-xs-8
            = image_tag 'http://api.randomuser.me/portraits/men/2.jpg', :class => "img-responsive img-circle"
          .col-xs-12
            %h3.text-center
              Benoit
            %p.lead.text-center
              Tech
      .col-xs-12
        .row
          .col-xs-offset-2.col-xs-8
            = image_tag 'http://api.randomuser.me/portraits/men/3.jpg', :class => "img-responsive img-circle"
          .col-xs-12
            %h3
              Brandon
            %p.lead
              Narrative
  %section.share
    %h3
      Follow our journey
    .journey-buttons
      
    %h3
      Share with your friends
%footer
