.jumbotron
  .container-fluid
    %header
      .row
        .col-xs-12.col-sm-4.col-md-offset-1.col-md-3
          %h1
            Teach.
        .col-xs-12.col-sm-4.col-md-3
          %h1
            Learn.
        .col-xs-12.col-sm-4.col-md-4
          %h1
            Earn.

    .row
      .col-xs-12
        %h3.hero-action
          Join Portland's local learning community
    .row
      .col-xs-12
        .dropdown
          %button.btn.btn-lg{:data => { :toggle => "dropdown" } }
            Teach a skill
          %ul.dropdown-menu.text-center{ :role => "menu" }
            %h5 Sign up with:
            %li
              %a{ :href => "/auth/facebook" }
                %button.btn.btn-block
                  Facebook
            %li
              %a{ :href => "/auth/linkedin" }
                %button.btn.btn-block
                  LinkedIn
            %li
              %a{ :href => "/auth/google" }
                %button.btn.btn-block
                  Google
      .col-xs-12
        .dropdown
          %button.btn.btn-lg{:data => { :toggle => "dropdown" } }
            Learn a skill
          %ul.dropdown-menu.text-center{ :role => "menu" }
            %h5 Join us when we launch
            = form_tag '/emails/create', remote: true do
              .form-group
                = email_field_tag :placeholder => "joe@example.com", :class => "form-control"
.container
  %section.tutors
    .intro
      .row
        .col-xs-12
          %h2
            Meet your tutors
    .tutors-listing
      .row
        - @users.each do |tutor|
          .col-xs-12
            .row.tutor
              .col-xs-offset-1.col-xs-4
                = image_tag tutor.photo.url, :class => 'img-responsive img-circle tutor-photo'
              .col-xs-4.text-center
                %h4.tutor-name
                  = tutor.first_name
              
                %p
                  teaches
                %strong.tutor-skills
                  = tutor.teachables

  %section.mission
    .intro
      .row
        .col-xs-12
          %h2
            Our mission
    .mission-content
      .row
        .col-xs-12.col-sm-8
          %p
            Our mission is to harness the untapped talents of your local community, making it possible to learn anything from anyone at anytime.
          %p
            Other teaching sites are ivory towers with high barriers to entry. Students have to commit to expensive, time-consuming courses, and only the select, credentialed few are allowed to teach. SkillSesh democratizes the learning process, allowing you to acquire new skills from the members of your own community.
  %section.team
    .row
      .col-xs-12
        %h2
          Your team
    .row.text-center
      .col-xs-12.team-member
        .row
          .col-xs-offset-1.col-xs-4
            = image_tag 'http://api.randomuser.me/portraits/men/1.jpg', :class => "img-responsive img-circle"
          .col-xs-4
            %h3
              John
            %p.lead
              Markets
      .col-xs-12.team-member
        .row
          .col-xs-push-4.col-xs-offset-1.col-xs-4
            = image_tag 'http://api.randomuser.me/portraits/men/2.jpg', :class => "img-responsive img-circle"
          .col-xs-pull-4.col-xs-4
            %h3.text-center
              Benoit
            %p.lead.text-center
              Tech
      .col-xs-12.team-member
        .row
          .col-xs-offset-1.col-xs-4
            = image_tag 'http://api.randomuser.me/portraits/men/3.jpg', :class => "img-responsive img-circle"
          .col-xs-4
            %h3
              Brandon
            %p.lead
              Narrative
  %section.share
    %h3
      Follow our journey
    .journey-buttons
      
    %h3
      Share with your friends
%footer
