<br>
<br>
<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
<h1>
<%= @course.name %>
</h1>
<br><br>
<h3>
<%= @course.goal %> 
<br><br>
<%= @course.how %>
<br><br>  
<%= @course.requirements %>
<br><br>  
<%= @course.location %>
  <br><br> 
<%= @course.price %>
  <br><br> 
<%= @course.duration %>  
 </h3>
</div>   
</div> 
   