<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <title>Skillsesh</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat|Lara|Droid+Sans">
</head>
<body>
  <%= render :partial => "partials/navbar" %>
  <%= yield %>
</body>
<footer>
      <div class="container">
<section class="share">
<br><br>
  
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="col-xs-12 col-md-6">
          <h3>
            Follow:<br><br/>
          </h3>
          <div class="col-xs-offset-1 col-xs-3 highlightit2">
            <%= image_tag '/images/google.png', size: '50x50', :href => "https://plus.google.com/108372836959462323148/posts", :target => "_blank" %>
          </div>
          <div class="col-xs-3 highlightit2">
            <%= image_tag '/images/facebook.png', size: '50x50', :href => "https://www.facebook.com/SkillSesh", :target => "_blank" %>
          </div>
          <div class="col-xs-3 highlightit2">
            <%= image_tag '/images/twitter.png', size: '50x50',  :href => "https://twitter.com/SkillSesh", :target => "_blank" %>
            <br><br/>
          </div>
          <div class="journey-buttons"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>
            Share:<br><br/>
          </h3>
      
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://www.skillsesh.com/&title=Get+Skilled", :target => "_blank" do %> 
              <%= image_tag '/images/linkdicon.png', size: '54x54' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://www.facebook.com/sharer/sharer.php?u=http://www.skillsesh.com/", :target => "_blank" do %> 
              <%= image_tag '/images/fbsquare.png', size: '54x54' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "https://plus.google.com/share?url=http://www.skillsesh.com/", :target => "_blank" do %> 
              <%= image_tag '/images/gplussquare.png', size: '54x54' %>
              <% end %>
            </div>
            <div class="col-xs-3 highlightit2">
              <%= link_to "http://twitter.com/share?url=http://www.skillsesh.com/&text=Get+Skilled", :target => "_blank" do %> 
              <%= image_tag '/images/twittersquare.png', size: '54x54' %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </section>
      </div>
    </footer>
</html>
