<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat|Lora|Droid+Sans">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    
   
  </head>

  <body> 
    <div class="scroll-top-wrapper shadow1 ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>
    <%= render '/partials/navbar.html.erb' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
<footer>
      <div class="container">
<section class="share">
<br><br>
  
    <div class="row rad">
      <div class="row text-center">
        <div class="small-12 columns">
     <br>
          <div class="small-7 medium-2 columns">
        <div class="fb-like-box" data-href="https://www.facebook.com/skillsesh" data-height="180" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
          <div class="small-2 medium-1 columns">
             <a href="https://plus.google.com/108372836959462323148/posts" target="_blank"><img src='/images/google.png', style="width:50px;height:50px", border="0"></a>  
          </div>
          <div class="small-2 medium-1 columns">
            <a href="https://twitter.com/SkillSesh" target="_blank"><img src='/images/twitter.png', style="width:50px;height:50px", border="0"></a> 
            <br><br/>
          </div>
          <div class=" small-12 medium-4 columns" >
          <div class="h4 align-left">
              <%= link_to "Home", root_path %>  
              <%= link_to "About",about_path %>
                <%= link_to "FAQ",faq_path %>
                <%= link_to "Terms",tos_path %> 
                <% if current_user? %>  
                <%= link_to "Profile", profile_path %>
                <%= link_to "Signout", signout_path %> 
                <% end %>
                
            </div> 
          </div>

        </div>
      </div>
    </div>
  </section>
      </div>
    </footer>    
  </body>
</html>