<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Skillsesh</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monserrat|Lara|Droid+Sans">
</head>
<body>
  <%= render :partial => "partials/navbar" %>
  <%= yield %>
</body>
<footer>
      <div class="container">
        <img class="img-responsive center-block" src="/images/Skillsesh_Five.png" style="height: 100px; width: auto;"/>
        <img class="img-responsive center-block" src="/images/SkillSesh_BrandInitial2.png" style="height: 80px"/>
      </div>
    </footer>
</html>
